.ListaVideojuegos {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  background-color: #48C9B0;
}

.Categorias, .Plataformas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.Categorias label, .Plataformas label {
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: #2E86C1;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Categorias label:hover, .Plataformas label:hover {
  background-color: #1F618D;
}

.Categorias input, .Plataformas input {
  display: none;
}

.Categorias input:checked + label, .Plataformas input:checked + label {
  background-color: #1F618D;
}

.Videojuego {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #A3E4D7;
  margin: 0 auto 20px; 
  max-width: 400px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.Videojuego h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.Videojuego img {
  display: block;
  width: 100%; 
  height: auto; 
  border-radius: 8px;
}

.Videojuego p {
  margin-bottom: 5px;
}

.Categorias input:checked + label {
  background-color: #1F618D;
  color: white; 
}


.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 3px;
  margin-left: 5px; 
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


input[type="checkbox"]:checked + .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.Videojuego button {
  background-color: #FF5733;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Videojuego button:hover {
  background-color: #FF1A00;
}

